agents/agent-2-vulnerability-assessment/workflow.json
{
  "name": "Agent 2 - Vulnerability Assessment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vuln-assessment-start",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "vuln-assessment-start"
    },
    {
      "parameters": {
        "operation": "search",
        "application": "={{ $json.body.airtable_base_id || 'appXXXXXXXXXXXXXX' }}",
        "table": "Assets",
        "filterByFormula": "=AND({client_id}='{{ $json.body.client_id }}', {scan_enabled}=TRUE())",
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Get Assets from Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [480, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-cred-1",
          "name": "Airtable Token"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Loop Over Assets",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [720, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "value": "web_app",
              "output": 0
            },
            {
              "value": "container",
              "output": 1
            },
            {
              "value": "dependency",
              "output": 2
            }
          ]
        },
        "dataType": "string",
        "value1": "={{ $json.fields.asset_type }}",
        "fallbackOutput": "extra"
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Route by Asset Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.snyk.io/v1/test/npm/{{ $json.fields.package_name }}/{{ $json.fields.package_version }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=token {{ $credentials.snykApi.apiKey }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Snyk Web Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "snyk-cred-1",
          "name": "Snyk API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.snyk.io/v1/test/docker/{{ encodeURIComponent($json.fields.image_name) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=token {{ $credentials.snykApi.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "target",
              "value": "={{ JSON.stringify({ image: $json.fields.image_name }) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Snyk Container Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "snyk-cred-1",
          "name": "Snyk API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.osv.dev/v1/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"package\": {\n    \"name\": \"{{ $json.fields.package_name }}\",\n    \"ecosystem\": \"{{ $json.fields.ecosystem || 'npm' }}\"\n  },\n  \"version\": \"{{ $json.fields.package_version }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "OSV.dev Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 500]
    },
    {
      "parameters": {
        "jsCode": "// Normalize vulnerability data from different scan sources into a common format\nconst input = $input.all();\nconst asset = $('Loop Over Assets').first().json;\nconst assetType = asset.fields.asset_type;\nconst assetId = asset.id;\nconst results = [];\n\nfor (const item of input) {\n  const data = item.json.body || item.json;\n\n  if (assetType === 'web_app' || assetType === 'container') {\n    // Snyk response format\n    const vulns = data.issues?.vulnerabilities || data.vulnerabilities || [];\n    for (const v of vulns) {\n      const cveIds = v.identifiers?.CVE || [];\n      const cveId = cveIds.length > 0 ? cveIds[0] : v.id;\n      results.push({\n        json: {\n          cve_id: cveId,\n          title: v.title || v.name || 'Unknown',\n          severity: (v.severity || 'medium').toLowerCase(),\n          cvss_score: v.cvssScore || v.cvss || 0,\n          package_name: v.packageName || v.package || asset.fields.package_name || '',\n          package_version: v.version || asset.fields.package_version || '',\n          description: v.description || '',\n          source: 'snyk',\n          asset_id: assetId,\n          asset_type: assetType,\n          asset_name: asset.fields.asset_name || asset.fields.name || '',\n          client_id: asset.fields.client_id || '',\n          exploit_maturity: v.exploit || 'No Known Exploit',\n          fixed_in: (v.fixedIn || []).join(', '),\n          scan_timestamp: new Date().toISOString()\n        }\n      });\n    }\n  } else if (assetType === 'dependency') {\n    // OSV.dev response format\n    const vulns = data.vulns || [];\n    for (const v of vulns) {\n      const aliases = v.aliases || [];\n      const cveId = aliases.find(a => a.startsWith('CVE-')) || v.id;\n      const severityObj = (v.severity || []).find(s => s.type === 'CVSS_V3') || {};\n      let cvssScore = 0;\n      if (severityObj.score) {\n        cvssScore = typeof severityObj.score === 'string' ? parseFloat(severityObj.score) : severityObj.score;\n      }\n      const severityLabel = cvssScore >= 9.0 ? 'critical' : cvssScore >= 7.0 ? 'high' : cvssScore >= 4.0 ? 'medium' : 'low';\n      const fixedVersion = v.affected?.[0]?.ranges?.[0]?.events?.find(e => e.fixed)?.fixed || '';\n      results.push({\n        json: {\n          cve_id: cveId,\n          title: v.summary || v.details?.substring(0, 120) || 'Unknown',\n          severity: severityLabel,\n          cvss_score: cvssScore,\n          package_name: asset.fields.package_name || v.affected?.[0]?.package?.name || '',\n          package_version: asset.fields.package_version || '',\n          description: v.details || v.summary || '',\n          source: 'osv',\n          asset_id: assetId,\n          asset_type: assetType,\n          asset_name: asset.fields.asset_name || asset.fields.name || '',\n          client_id: asset.fields.client_id || '',\n          exploit_maturity: 'Unknown',\n          fixed_in: fixedVersion,\n          scan_timestamp: new Date().toISOString()\n        }\n      });\n    }\n  }\n}\n\nif (results.length === 0) {\n  results.push({\n    json: {\n      _no_vulns: true,\n      asset_id: assetId,\n      asset_type: assetType,\n      message: 'No vulnerabilities found for this asset'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Normalize Vulnerabilities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Loop Over Vulnerabilities",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-no-vulns",
              "leftValue": "={{ $json._no_vulns }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0020-4000-8000-000000000020",
      "name": "Has Vulnerabilities?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1680, 540]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://services.nvd.nist.gov/rest/json/cves/2.0?cveId={{ $json.cve_id }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "Enrich with NVD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.first.org/data/v1/epss?cve={{ $json.cve_id }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 15000
        }
      },
      "id": "a1b2c3d4-0011-4000-8000-000000000011",
      "name": "Enrich with EPSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 400]
    },
    {
      "parameters": {
        "jsCode": "// Calculate Priority Score and assign SLA\nconst vuln = $('Loop Over Vulnerabilities').first().json;\nconst nvdData = $('Enrich with NVD').first().json;\nconst epssData = $('Enrich with EPSS').first().json;\n\n// Extract CVSS score from NVD response\nlet cvssScore = vuln.cvss_score || 0;\ntry {\n  const cveItem = nvdData.body?.vulnerabilities?.[0]?.cve || nvdData.vulnerabilities?.[0]?.cve || {};\n  const metrics = cveItem.metrics || {};\n  const cvssV31 = metrics.cvssMetricV31?.[0]?.cvssData;\n  const cvssV30 = metrics.cvssMetricV30?.[0]?.cvssData;\n  const cvssV2 = metrics.cvssMetricV2?.[0]?.cvssData;\n  const nvdCvss = cvssV31?.baseScore || cvssV30?.baseScore || cvssV2?.baseScore;\n  if (nvdCvss) cvssScore = nvdCvss;\n} catch (e) {\n  // Keep original cvss_score\n}\n\n// Extract EPSS score\nlet epssScore = 0;\ntry {\n  const epssItem = epssData.body?.data?.[0] || epssData.data?.[0] || {};\n  epssScore = parseFloat(epssItem.epss) || 0;\n} catch (e) {\n  // Default to 0\n}\n\n// Determine asset criticality weight (1-5 scale)\nconst criticalityMap = { critical: 5, high: 4, medium: 3, low: 2, info: 1 };\nconst assetCriticality = vuln.severity || 'medium';\nconst criticalityWeight = criticalityMap[assetCriticality] || 3;\n\n// Calculate priority score\n// priority_score = (cvss_score * 0.4) + (epss_score * 100 * 0.35) + (criticality_weight * 10 * 0.25)\nconst priorityScore = parseFloat(\n  ((cvssScore * 0.4) + (epssScore * 100 * 0.35) + (criticalityWeight * 10 * 0.25)).toFixed(2)\n);\n\n// Assign priority level and SLA\nlet priorityLevel, slaDays;\nif (priorityScore >= 8.0) {\n  priorityLevel = 'P1';\n  slaDays = 7;\n} else if (priorityScore >= 6.0) {\n  priorityLevel = 'P2';\n  slaDays = 30;\n} else if (priorityScore >= 4.0) {\n  priorityLevel = 'P3';\n  slaDays = 90;\n} else {\n  priorityLevel = 'P4';\n  slaDays = 180;\n}\n\nconst slaDueDate = new Date();\nslaDueDate.setDate(slaDueDate.getDate() + slaDays);\n\nreturn [{\n  json: {\n    ...vuln,\n    cvss_score: cvssScore,\n    epss_score: epssScore,\n    priority_score: priorityScore,\n    priority_level: priorityLevel,\n    sla_days: slaDays,\n    sla_due_date: slaDueDate.toISOString().split('T')[0],\n    enriched_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "a1b2c3d4-0012-4000-8000-000000000012",
      "name": "Calculate Priority Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a cybersecurity remediation expert. Provide concise, actionable remediation steps for the following vulnerability:\\n\\nCVE: {{ $json.cve_id }}\\nTitle: {{ $json.title }}\\nSeverity: {{ $json.severity }} (CVSS: {{ $json.cvss_score }})\\nPackage: {{ $json.package_name }}@{{ $json.package_version }}\\nFixed In: {{ $json.fixed_in || 'Unknown' }}\\nAsset Type: {{ $json.asset_type }}\\nPriority: {{ $json.priority_level }} (Score: {{ $json.priority_score }})\\n\\nProvide:\\n1. Immediate mitigation steps\\n2. Long-term remediation plan\\n3. Verification commands to confirm the fix\\n\\nKeep the response under 500 words.\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 60000
        }
      },
      "id": "a1b2c3d4-0013-4000-8000-000000000013",
      "name": "Generate Remediation with Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 300]
    },
    {
      "parameters": {
        "jsCode": "// Merge remediation text into the vulnerability record\nconst vuln = $('Calculate Priority Score').first().json;\nconst claudeResp = $('Generate Remediation with Claude').first().json;\n\nlet remediation = '';\ntry {\n  const body = claudeResp.body || claudeResp;\n  remediation = body.content?.[0]?.text || 'Remediation generation failed.';\n} catch (e) {\n  remediation = 'Remediation generation failed: ' + e.message;\n}\n\nreturn [{\n  json: {\n    ...vuln,\n    remediation_steps: remediation\n  }\n}];"
      },
      "id": "a1b2c3d4-0021-4000-8000-000000000021",
      "name": "Merge Remediation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 300]
    },
    {
      "parameters": {
        "operation": "search",
        "application": "={{ $('Webhook Trigger').first().json.body.airtable_base_id || 'appXXXXXXXXXXXXXX' }}",
        "table": "Vulnerabilities",
        "filterByFormula": "=AND({cve_id}='{{ $json.cve_id }}', {asset_id}='{{ $json.asset_id }}')",
        "options": {}
      },
      "id": "a1b2c3d4-0014-4000-8000-000000000014",
      "name": "Check Existing Vulnerability",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [2880, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-cred-1",
          "name": "Airtable Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-exists",
              "leftValue": "={{ $('Check Existing Vulnerability').first().json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0015-4000-8000-000000000015",
      "name": "Exists in Airtable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3120, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "application": "={{ $('Webhook Trigger').first().json.body.airtable_base_id || 'appXXXXXXXXXXXXXX' }}",
        "table": "Vulnerabilities",
        "id": "={{ $('Check Existing Vulnerability').first().json.id }}",
        "fields": {
          "fieldValues": [
            { "fieldId": "severity", "fieldValue": "={{ $('Merge Remediation').first().json.severity }}" },
            { "fieldId": "cvss_score", "fieldValue": "={{ $('Merge Remediation').first().json.cvss_score }}" },
            { "fieldId": "epss_score", "fieldValue": "={{ $('Merge Remediation').first().json.epss_score }}" },
            { "fieldId": "priority_score", "fieldValue": "={{ $('Merge Remediation').first().json.priority_score }}" },
            { "fieldId": "priority_level", "fieldValue": "={{ $('Merge Remediation').first().json.priority_level }}" },
            { "fieldId": "sla_due_date", "fieldValue": "={{ $('Merge Remediation').first().json.sla_due_date }}" },
            { "fieldId": "remediation_steps", "fieldValue": "={{ $('Merge Remediation').first().json.remediation_steps }}" },
            { "fieldId": "last_seen", "fieldValue": "={{ $('Merge Remediation').first().json.scan_timestamp }}" },
            { "fieldId": "status", "fieldValue": "open" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0016-4000-8000-000000000016",
      "name": "Update Vulnerability in Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [3360, 200],
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-cred-1",
          "name": "Airtable Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "application": "={{ $('Webhook Trigger').first().json.body.airtable_base_id || 'appXXXXXXXXXXXXXX' }}",
        "table": "Vulnerabilities",
        "fields": {
          "fieldValues": [
            { "fieldId": "cve_id", "fieldValue": "={{ $('Merge Remediation').first().json.cve_id }}" },
            { "fieldId": "title", "fieldValue": "={{ $('Merge Remediation').first().json.title }}" },
            { "fieldId": "severity", "fieldValue": "={{ $('Merge Remediation').first().json.severity }}" },
            { "fieldId": "cvss_score", "fieldValue": "={{ $('Merge Remediation').first().json.cvss_score }}" },
            { "fieldId": "epss_score", "fieldValue": "={{ $('Merge Remediation').first().json.epss_score }}" },
            { "fieldId": "priority_score", "fieldValue": "={{ $('Merge Remediation').first().json.priority_score }}" },
            { "fieldId": "priority_level", "fieldValue": "={{ $('Merge Remediation').first().json.priority_level }}" },
            { "fieldId": "sla_days", "fieldValue": "={{ $('Merge Remediation').first().json.sla_days }}" },
            { "fieldId": "sla_due_date", "fieldValue": "={{ $('Merge Remediation').first().json.sla_due_date }}" },
            { "fieldId": "package_name", "fieldValue": "={{ $('Merge Remediation').first().json.package_name }}" },
            { "fieldId": "package_version", "fieldValue": "={{ $('Merge Remediation').first().json.package_version }}" },
            { "fieldId": "asset_id", "fieldValue": "={{ $('Merge Remediation').first().json.asset_id }}" },
            { "fieldId": "asset_type", "fieldValue": "={{ $('Merge Remediation').first().json.asset_type }}" },
            { "fieldId": "asset_name", "fieldValue": "={{ $('Merge Remediation').first().json.asset_name }}" },
            { "fieldId": "client_id", "fieldValue": "={{ $('Merge Remediation').first().json.client_id }}" },
            { "fieldId": "description", "fieldValue": "={{ $('Merge Remediation').first().json.description }}" },
            { "fieldId": "remediation_steps", "fieldValue": "={{ $('Merge Remediation').first().json.remediation_steps }}" },
            { "fieldId": "fixed_in", "fieldValue": "={{ $('Merge Remediation').first().json.fixed_in }}" },
            { "fieldId": "exploit_maturity", "fieldValue": "={{ $('Merge Remediation').first().json.exploit_maturity }}" },
            { "fieldId": "source", "fieldValue": "={{ $('Merge Remediation').first().json.source }}" },
            { "fieldId": "first_seen", "fieldValue": "={{ $('Merge Remediation').first().json.scan_timestamp }}" },
            { "fieldId": "last_seen", "fieldValue": "={{ $('Merge Remediation').first().json.scan_timestamp }}" },
            { "fieldId": "status", "fieldValue": "open" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0017-4000-8000-000000000017",
      "name": "Create Vulnerability in Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [3360, 420],
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-cred-1",
          "name": "Airtable Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate Summary Report aggregating all vulnerability data\nconst allItems = $('Normalize Vulnerabilities').all();\nconst clientId = $('Webhook Trigger').first().json.body.client_id || 'unknown';\n\nconst summary = {\n  client_id: clientId,\n  scan_completed_at: new Date().toISOString(),\n  total_vulnerabilities: 0,\n  by_severity: { critical: 0, high: 0, medium: 0, low: 0 },\n  by_priority: { P1: 0, P2: 0, P3: 0, P4: 0 },\n  by_asset_type: { web_app: 0, container: 0, dependency: 0 },\n  assets_scanned: 0,\n  top_critical: []\n};\n\nconst seenAssets = new Set();\n\nfor (const item of allItems) {\n  const v = item.json;\n  if (v._no_vulns) {\n    seenAssets.add(v.asset_id);\n    continue;\n  }\n  summary.total_vulnerabilities++;\n  seenAssets.add(v.asset_id);\n\n  // Count by severity\n  const sev = (v.severity || 'medium').toLowerCase();\n  if (summary.by_severity.hasOwnProperty(sev)) {\n    summary.by_severity[sev]++;\n  }\n\n  // Count by asset type\n  const atype = v.asset_type || 'unknown';\n  if (summary.by_asset_type.hasOwnProperty(atype)) {\n    summary.by_asset_type[atype]++;\n  }\n\n  // Track top critical vulns\n  if (sev === 'critical' || sev === 'high') {\n    summary.top_critical.push({\n      cve_id: v.cve_id,\n      title: v.title,\n      severity: v.severity,\n      package_name: v.package_name,\n      asset_name: v.asset_name\n    });\n  }\n}\n\nsummary.assets_scanned = seenAssets.size;\nsummary.top_critical = summary.top_critical.slice(0, 10);\n\n// Estimate priority distribution from severity as proxy\nfor (const item of allItems) {\n  const v = item.json;\n  if (v._no_vulns) continue;\n  const sev = (v.severity || 'medium').toLowerCase();\n  if (sev === 'critical') summary.by_priority.P1++;\n  else if (sev === 'high') summary.by_priority.P2++;\n  else if (sev === 'medium') summary.by_priority.P3++;\n  else summary.by_priority.P4++;\n}\n\nreturn [{ json: summary }];"
      },
      "id": "a1b2c3d4-0018-4000-8000-000000000018",
      "name": "Generate Summary Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3600, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "a1b2c3d4-0019-4000-8000-000000000019",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3840, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Get Assets from Airtable", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Assets from Airtable": {
      "main": [
        [
          { "node": "Loop Over Assets", "type": "main", "index": 0 }
        ]
      ]
    },
    "Loop Over Assets": {
      "main": [
        [
          { "node": "Generate Summary Report", "type": "main", "index": 0 }
        ],
        [
          { "node": "Route by Asset Type", "type": "main", "index": 0 }
        ]
      ]
    },
    "Route by Asset Type": {
      "main": [
        [
          { "node": "Snyk Web Scan", "type": "main", "index": 0 }
        ],
        [
          { "node": "Snyk Container Scan", "type": "main", "index": 0 }
        ],
        [
          { "node": "OSV.dev Query", "type": "main", "index": 0 }
        ]
      ]
    },
    "Snyk Web Scan": {
      "main": [
        [
          { "node": "Normalize Vulnerabilities", "type": "main", "index": 0 }
        ]
      ]
    },
    "Snyk Container Scan": {
      "main": [
        [
          { "node": "Normalize Vulnerabilities", "type": "main", "index": 0 }
        ]
      ]
    },
    "OSV.dev Query": {
      "main": [
        [
          { "node": "Normalize Vulnerabilities", "type": "main", "index": 0 }
        ]
      ]
    },
    "Normalize Vulnerabilities": {
      "main": [
        [
          { "node": "Has Vulnerabilities?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Vulnerabilities?": {
      "main": [
        [
          { "node": "Loop Over Vulnerabilities", "type": "main", "index": 0 }
        ],
        [
          { "node": "Loop Over Assets", "type": "main", "index": 0 }
        ]
      ]
    },
    "Loop Over Vulnerabilities": {
      "main": [
        [
          { "node": "Loop Over Assets", "type": "main", "index": 0 }
        ],
        [
          { "node": "Enrich with NVD", "type": "main", "index": 0 },
          { "node": "Enrich with EPSS", "type": "main", "index": 0 }
        ]
      ]
    },
    "Enrich with NVD": {
      "main": [
        [
          { "node": "Calculate Priority Score", "type": "main", "index": 0 }
        ]
      ]
    },
    "Enrich with EPSS": {
      "main": [
        [
          { "node": "Calculate Priority Score", "type": "main", "index": 0 }
        ]
      ]
    },
    "Calculate Priority Score": {
      "main": [
        [
          { "node": "Generate Remediation with Claude", "type": "main", "index": 0 }
        ]
      ]
    },
    "Generate Remediation with Claude": {
      "main": [
        [
          { "node": "Merge Remediation", "type": "main", "index": 0 }
        ]
      ]
    },
    "Merge Remediation": {
      "main": [
        [
          { "node": "Check Existing Vulnerability", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Existing Vulnerability": {
      "main": [
        [
          { "node": "Exists in Airtable?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Exists in Airtable?": {
      "main": [
        [
          { "node": "Update Vulnerability in Airtable", "type": "main", "index": 0 }
        ],
        [
          { "node": "Create Vulnerability in Airtable", "type": "main", "index": 0 }
        ]
      ]
    },
    "Update Vulnerability in Airtable": {
      "main": [
        [
          { "node": "Loop Over Vulnerabilities", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create Vulnerability in Airtable": {
      "main": [
        [
          { "node": "Loop Over Vulnerabilities", "type": "main", "index": 0 }
        ]
      ]
    },
    "Generate Summary Report": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "SecureWatch",
      "id": "tag-securewatch"
    },
    {
      "name": "vulnerability-assessment",
      "id": "tag-vuln"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-28T00:00:00.000Z",
  "versionId": "1"
}